*~
/lib/juli/parser.tab.rb
/lib/juli/line_parser.tab.rb
/bin/juli.rb
/doc/app
/test/html
/test/html_for_test
/doc_html/
/coverage/
/parser.output

# tag DB
/doc/.juli/*.sdbm.*
/test/repo/.juli/*.sdbm.*
/test/repo2/.juli/*.sdbm.*

# by bundle
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
